body {
    background-image: url('images/backgroundcropped.png');

    background-attachment: fixed;
}

form {
    background-color: lightgray;
    padding: 3%;
}

.navbar-nav {
  
}

/* .container-fluid {
    padding-right: 75px;
    padding-left: 75px;
    margin-right: auto;
    margin-left: auto;

} */

.container {
  
}