body {
    background-image: url('images/Background2.png');

    background-attachment: fixed;
}

form {
    background-color: lightgray;
    padding: 3%;
}

.navbar-nav {
  margin-right: -15px;
}

/* .container-fluid {
    padding-right: 75px;
    padding-left: 75px;
    margin-right: auto;
    margin-left: auto;

} */

.container {
  
}

::placeholder { 
    color: red !important;

}

