a {
  color: rgba(27, 9, 0, 0.8) !important;
  font-family: "Roboto", sans-serif !important;
}

a:hover {
  color: #3a607d !important;
}

#heading {
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

body {
  background-image: url("images/Background3.png");

  background-attachment: fixed;

  color: rgba(27, 9, 0, 0.8);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

input {
    font-family: "Roboto", sans-serif !important;
    font-size: 16px !important;
}

form {
  background-color: white;
  padding: 3%;
  font-size: 14pt;
  font-weight: 500;
}


.category select {
    font-size: 20px !important;
    font-family: "Roboto", sans-serif !important;
}


option {
  font-family: "Roboto", sans-serif !important;
}

.navbar-nav {
  margin-right: -15px;
}
.navbar-brand {
  margin-left: -15px;
}

::placeholder {
  color: rgba(27, 9, 0, 0.37) !important;
  font-size: 16pt !important;
}

select {
  font-family: "Roboto", sans-serif !important;
}

#myButton {
  background-color: #3a607d;
  border: #3a607d;
}

span {
  font-size: 13px !important;
  font-family: "Roboto", sans-serif;
}

.dropdown-toggle::after {
  display: none !important;
}

/* .form-group span {
  visibility: hidden;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

.form-group.error input {
  border-color: red;
  font-family: "Roboto", sans-serif;
}

.form-group.error span {
    visibility: visible;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
  } */

/* .form-group p {
visibility: hidden;
} */

/* .form-group.error p.oops {
  font-size: 12px;
  visibility: visible;
} */

#helpText {
  font-size: 13pt;
  color: rgba(27, 9, 0, 0.37);
  font-weight: 700;
}

/* .form-group {

} */
